<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibetickets - Resumen de Compra</title>
    <link rel="stylesheet" href="/css/resumen_compra.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel='stylesheet'
      href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
  </head>
  
  <body>
  
  <!-- Menú y Autenticación -->

  <%- include('../partials/auth') %> <!-- Incluye el Auth -->
  <%- include('../partials/menu') %> <!-- Incluye el menú -->

  <!-- Fin Menú y Autenticación -->
  
  
    <section class="heroeImangen" id="heroe__imangen">
      <section>
          <div class="heroe" id="heroe__principal">
              <div class="titulo" id="administrarusuarios">
              <h1>Resumen de Compra</h1>
              </div>
          </div>
      </section>
    </section>

    <!-- Barra de Proceso de Pago -->
    <section class="procesoCompra">
        <div class="barraProceso">
            <div class="paso completed">
                <span>Método de Pago</span>
                <div class="circulo"></div>
            </div>
            <div class="line"></div>
            <div class="paso active">
                <span>Validación de Información</span>
                <div class="circulo"></div>
            </div>
            <div class="line"></div>
            <div class="paso">
                <span>Transacción Completada</span>
                <div class="circulo"></div>
            </div>
        </div>
    </section>

    <!-- Resumen de Compra -->
    <main class="resumenCompra">
        <div class="informacionCompra">
            <!-- Información de la Tarjeta -->
            <div class="informacionTarjeta">
                <h2>Información de la tarjeta <span class="editar">&#9998;</span></h2>
                <p>Fernando xxxxx</p>
                <p>xxxx - xxxx - xxxx - 1479</p>
            </div>

            <!-- Resumen de Eventos -->
            <div class="resumenEventos">
                <h2>Resumen de eventos <span class="editar">&#9998;</span></h2>
                <p>Campeonato de tennis <span>33,000</span></p>
                <p>Campeonato de tennis <span>33,000</span></p>
            </div>

            <!-- Total de la Compra -->
            <div class="totalCompra">
                <p><strong>TOTAL:</strong> 66,000</p>
                <a href="/pago/confirmacion"><button class="botonPagar">PAGAR</button></a>
            </div>
        </div>
    </main>

  <!-- Footer -->
  <%- include('../partials/footer') %>
  <!-- Fin Footer -->
</body>

</html>
