<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibetickets - Proceso de Pago</title>
    <link rel="stylesheet" type="text/css" href="/css/seleccion_pago.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel='stylesheet'
      href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
  </head>
  
  <body>
  
    <!-- Menú y Autenticación -->
  
    <%- include('../partials/auth') %> <!-- Incluye el Auth -->
    <%- include('../partials/menu') %> <!-- Incluye el menú -->
  
    <!-- Fin Menú y Autenticación -->
  
    <section class="heroeImangen" id="heroe__imangen">
      <section>
          <div class="heroe" id="heroe__principal">
              <div class="titulo" id="administrarusuarios">
              <h1>Seleccionar metodo de Pago</h1>
              </div>
          </div>
      </section>
    </section>

    <!-- Barra de Proceso de Pago -->
    <section class="procesoCompra">
        <div class="barraProceso">
            <div class="paso active">
                <span>Método de Pago</span>
                <div class="circulo"></div>
            </div>
            <div class="line"></div>
            <div class="paso completed">
                <span>Validación de Información</span>
                <div class="circulo"></div>
            </div>
            <div class="line"></div>
            <div class="paso">
                <span>Transacción Completada</span>
                <div class="circulo"></div>
            </div>
        </div>
    </section>


    <!-- Formulario de Pago -->
    <main class="resumenCompra">
        <div class="formulario-pago">
            <h2>Información de Pago</h2>
            <form>
                <label for="numero-tarjeta">Número tarjeta</label>
                <input type="text" id="numero-tarjeta" placeholder="XXXX XXXX XXXX XXXX">

                <label for="titular-tarjeta">Titular de la tarjeta</label>
                <input type="text" id="titular-tarjeta" placeholder="FERNANDO GONZALEZ">

                <div class="fila-expiracion-seguridad">
                    <div class="campo">
                        <label for="fecha-expiracion">Fecha de expiración</label>
                        <input type="text" id="fecha-expiracion" placeholder="XX/XX">
                    </div>
                    <div class="campo">
                        <label for="codigo-seguridad">Código de seguridad</label>
                        <input type="text" id="codigo-seguridad" placeholder="XXX">
                    </div>
                </div>
                <a href="/pago/resumen"><button type="submit" class="boton-continuar">CONTINUAR</button></a>
            </form>
        </div>
    </main>

  <!-- Footer -->
  <%- include('../partials/footer') %>
  <!-- Fin Footer -->
</body>

</html>