<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeTickets</title>
    <link rel="stylesheet" type="text/css" href="css/inicio.css">
    <link rel="stylesheet" type="text/css" href="css/404.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>

<body>
    
<!-- Menú y Autenticación -->

<%- include('partials/auth') %> <!-- Incluye el Auth -->
<%- include('partials/menu') %> <!-- Incluye el menú -->

<!-- Fin Menú y Autenticación -->


<div class="pagNo">
    <h1>404</h1>
    <h2>Página no encontrada</h2>
    <p>Lo sentimos, la página que estás buscando no existe.</p>
    <a href="/">Volver a la página principal</a>
</div>


<!-- Categorias -->

<section class="seccionCategoriaEventos">
    <div class="contenedor">
        <div class="fila">
            <div class="cabeceraSeccion">
                <h2>Categorías</h2>
            </div>
            <div class="contenidoSeccion">
                <ul class="fila limpiarFlotado">
                    <li class="categoria1 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria1.png"
                            alt="imagen">
                        <a href="#"><span>Conciertos</span></a>
                    </li>
                    <li class="categoria2 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria2.png"
                            alt="imagen">
                        <a href="#"><span>Comedia</span></a>
                    </li>
                    <li class="categoria3 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria3.png"
                            alt="imagen">
                        <a href="#"><span>Deportes</span></a>
                    </li>
                    <li class="categoria4 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria4.png"
                            alt="imagen">
                        <a href="#"><span>Festivales</span></a>
                    </li>
                    <li class="categoria5 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria5.png"
                            alt="imagen">
                        <a href="#"><span>Charlas</span></a>
                    </li>
                    <li class="categoria6 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria6.png"
                            alt="imagen">
                        <a href="#"><span>Teatro</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Fin Categorias -->

<!-- Footer -->

<%- include('partials/footer') %> <!-- Incluye el footer -->

<!-- Fin Footer -->

</body>

</html>