<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeTickets</title>
    <link rel="stylesheet" type="text/css" href="css/inicio.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>

<body>
    
<!-- Menú y Autenticación -->

<%- include('./partials/auth.ejs') %> <!-- Incluye el Auth -->
<%- include('./partials/menu.ejs') %> <!-- Incluye el menú -->

<!-- Fin Menú y Autenticación -->


<!-- Barra Buscador -->

<section class="imagenHeroe" id="Imagen__Heroe">
    <div class="heroe" id="Heroe__Principal">
        <div class="barraBusqueda" id="Barra__Busqueda">
            <input type="text" placeholder="Buscar Evento, Categoría...">
            <button id="Boton__Busqueda">Buscar</button>
        </div>
    </div>
</section>

<!-- Fin Barra Buscador -->

<!-- Linea de tiempo -->

<section class="eventosHoy" id="Eventos__Hoy">
    <div class="contenedorEventos" id="Contenedor__Eventos">
        <div class="fila" id="fila">
            <div class="cabeceraEventos">
                <h2>Eventos Hoy</h2>
                <span class="fechaHoy"><i class="fa fa-calendar" aria-hidden="true"></i> <strong>12</strong>
                    Octubre
                    2024 </span>
            </div>
            <div class="eventosContenido" id="eventos__contenido">
                <ul class="lineaventos" id="linea__eventos">
                    <li class="evento1" id="evento__1">
                        <span class="horaEvento" id="hora__evento">08:00 <strong>PM</strong></span>
                        <strong class="nombreEvento" id="nombre__evento">The Beatles</strong>
                        <a href="#" class="comprarTicket" id="comprar__ticket">Comprar</a>
                    </li>
                    <li class="evento2" id="evento__2">
                        <span class="horaEvento" id="hora__evento">08:00 <strong>PM</strong></span>
                        <strong class="nombreEvento" id="nombre__evento">The Beatles</strong>
                        <a href="#" class="comprarTicket" id="comprar__ticket">Comprar</a>
                    </li>
                    <li class="evento3" id="evento__3">
                        <span class="horaEvento" id="hora__evento">08:00 <strong>PM</strong></span>
                        <strong class="nombreEvento" id="nombre__evento">The Beatles</strong>
                        <a href="#" class="eventoAgotado" id="evento__agotado">Agotado</a>
                    </li>
                    <li class="evento4" id="evento__4">
                        <span class="horaEvento" id="hora__evento">08:00 <strong>PM</strong></span>
                        <strong class="nombreEvento" id="nombre__evento">The Beatles</strong>
                        <a href="#" class="eventoAgotado" id="evento__agotado">Agotado</a>
                    </li>
                </ul>
            </div>
            <div class="etiquetaTodosEventos"></div>
            <strong class="etiquetaTodosEventos"><a href="#">Todos los eventos</strong></a>
        </div>
    </div>
    </div>
</section>

<!-- Fin Linea de tiempo -->

<!-- Eventos por venir -->

<section class="seccionEventosFuturos">
    <div class="contenedor">
        <div class="fila">
            <div class="cabeceraSeccion">
                <h2>próximos eventos</h2>
                <div class="filaInferior">
                    <p> Nam fringilla consectetur enim. Nam euismod, neque eu vehicula ultricies, magna libero
                        placerat nisi, eget scelerisque ante enim non dui. Cras id arcu massa. Nam porttitor
                        euismod
                        tincidunt. Aliquam venenatis ac neque at euismod. Suspendisse non dui et ex cursus
                        finibus
                        in vitae metus. Nullam vitae imperdiet ante.
                        <br><br> Suspendisse hendrerit, diam eu viverra suscipit, ipsum diam imperdiet nunc, et
                        rutrum purus ex eget nisl. Nulla condimentum scelerisque lacus non molestie. Curabitur
                        vel
                        diam consectetur, tristique arcu sit amet, mollis nulla. Nullam turpis erat, ultricies
                        id
                        nunc sit amet, rutrum faucibus lectus.
                    </p>
                    <a href="#">Ver todos los eventos</a>
                </div>
            </div>
            <div class="contenidoSeccion">
                <ul class="limpiarFlotado">
                    <li class="eventoFuturo1" id="Evento__Futuro1">
                        <div class="fecha">
                            <a href="#">
                                <span class="dia">25</span>
                                <span class="mes">Agosto</span>
                                <span class="ano">2016</span>
                            </a>
                        </div>
                        <a href="#">
                            <img class="imagenEventoFuturo" src="img/evento_futuro-1.png" alt="imagen">
                        </a>
                        <div class="informacion">
                            <p>BMW Open Championship <span>San Francisco</span></p>
                            <a href="#" class="comprarTicket">Comprar</a>
                        </div>
                    </li>
                    <li class="eventoFuturo2" id="Evento__Futuro2">
                        <div class="fecha">
                            <a href="#">
                                <span class="dia">26</span>
                                <span class="mes">Agosto</span>
                                <span class="ano">2016</span>
                            </a>
                        </div>
                        <a href="#">
                            <img class="imagenEventoFuturo" src="img/evento_futuro-2.png" alt="imagen">
                        </a>
                        <div class="informacion">
                            <p>Kiai Kanjeng Orchestra <span>San Francisco</span></p>
                            <a href="#" class="comprarTicket">Comprar</a>
                        </div>
                    </li>
                    <li class="eventoFuturo3" id="Evento__Futuro3">
                        <div class="fecha">
                            <a href="#">
                                <span class="dia">27</span>
                                <span class="mes">Agosto</span>
                                <span class="ano">2016</span>
                            </a>
                        </div>
                        <a href="#">
                            <img class="imagenEventoFuturo" src="img/evento_futuro-3.png" alt="imagen">
                        </a>
                        <div class="informacion">
                            <p>Envato Author SF Meetup <span>San Francisco</span></p>
                            <a href="#" class="comprarTicket">Comprar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Fin Eventos por venir -->

<!-- Categorias -->

<section class="seccionCategoriaEventos">
    <div class="contenedor">
        <div class="fila">
            <div class="cabeceraSeccion">
                <h2>Categorías</h2>
            </div>
            <div class="contenidoSeccion">
                <ul class="fila limpiarFlotado">
                    <li class="categoria1 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria1.png"
                            alt="imagen">
                        <a href="#"><span>Conciertos</span></a>
                    </li>
                    <li class="categoria2 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria2.png"
                            alt="imagen">
                        <a href="#"><span>Comedia</span></a>
                    </li>
                    <li class="categoria3 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria3.png"
                            alt="imagen">
                        <a href="#"><span>Deportes</span></a>
                    </li>
                    <li class="categoria4 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria4.png"
                            alt="imagen">
                        <a href="#"><span>Festivales</span></a>
                    </li>
                    <li class="categoria5 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria5.png"
                            alt="imagen">
                        <a href="#"><span>Charlas</span></a>
                    </li>
                    <li class="categoria6 columnaPequeña4">
                        <img class="categoriaImagen" id="categoria__imagen" src="img/eventoCategoria6.png"
                            alt="imagen">
                        <a href="#"><span>Teatro</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Fin Categorias -->

<!-- Footer -->

<%- include('./partials/footer.ejs') %> <!-- Incluye el footer -->

<!-- Fin Footer -->

</body>

</html>