<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VibeTickets - Nosotros</title>
  <link rel="stylesheet" href="css/nosotros.css">
  <link rel="stylesheet" type="text/css" href="css/menu.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
</head>

<body>

   <!-- Menú y Autenticación -->

   <%- include('partials/auth') %> <!-- Incluye el Auth -->
   <%- include('partials/menu') %> <!-- Incluye el menú -->
 
   <!-- Fin Menú y Autenticación -->

  <!-------------------------------------------Sección Nosotros---------------------------------------------->

  <section id="Seccion__Nosotros" class="seccionNosotros">
    <div class="fondoImagen">
      <div class="contenidoTexto">
        <h1>Nuestra Empresa</h1>
        <p>En <strong>Brightcodelabs</strong> somos un equipo apasionado de desarrolladores y
          creativos dedicados a hacer que la tecnología sea accesible y significativa para todos. Nuestro propósito es
          crear soluciones de software que faciliten la vida de las personas y generen un impacto positivo en su día a
          día.</p>
        <p>Creemos en el poder de la creatividad, la colaboración y el aprendizaje continuo. Cada proyecto es una
          oportunidad para explorar nuevas ideas, aprender y crecer juntos. Nos esforzamos por entender a fondo las
          necesidades de nuestros clientes y usuarios, poniendo la empatía en el centro de todo lo que hacemos.</p>
      </div>
    </div>
  </section>

  <!-------------------------------------------Fin Sección Nosotros---------------------------------------------->

  <!-------------------------------------------Sección Equipo---------------------------------------------->

  <section id="Seccion__Equipo" class="seccionEquipo">

    <!-- Título de la Sección -->
    <div class="tituloSeccion">
      <h1>Equipo</h1>
      <p>Les presentamos al equipo de BrightCode Labs, un grupo de profesionales dedicados a desarrollar soluciones de
        software de alta calidad y a brindar un servicio excepcional. Cada integrante juega un papel fundamental en
        nuestro compromiso con la innovación y la eficiencia. Desde nuestro líder técnico hasta los expertos en calidad
        y soporte, todos compartimos la misma visión: hacer que la tecnología sea accesible y útil para todos. Conozca a
        las personas detrás de cada proyecto, quienes con su experiencia y dedicación trabajan día a día para ofrecer
        resultados que marcan la diferencia.</p>
    </div>
    <!-- Fin Título de la Sección -->
    <div class="contenedor">
      <div class="filaEquipo">
        <!-- Miembro del Equipo -->
        <div class="miembroEquipo">
          <div class="imagenMiembro">
            <img src="img/perfil_1.png" class="imagenFluida" alt="Carlos Gómez">
            <div class="redesSocialesMiembro">
              <a href="#"><i class="fi fi-brands-twitter"></i></a>
              <a href="#"><i class="fi fi-brands-facebook"></i></a>
              <a href="#"><i class="fi fi-brands-instagram"></i></a>
              <a href="#"><i class="fi fi-brands-linkedin"></i></a>
            </div>
          </div>
          <div class="infoMiembro">
            <h4>Joseph Pastora</h4>
            <span>Calidad</span>
            <p>Apasionado por la excelencia y los detalles. Asegura que cada proceso cumpla con los más altos
              estándares.</p>
          </div>
        </div><!-- Fin Miembro del Equipo -->

        <!-- Miembro del Equipo -->
        <div class="miembroEquipo">
          <div class="imagenMiembro">
            <img src="img/perfil_2.png" class="imagenFluida" alt="María Fernández">
            <div class="redesSocialesMiembro">
              <a href="#"><i class="fi fi-brands-twitter"></i></a>
              <a href="#"><i class="fi fi-brands-facebook"></i></a>
              <a href="#"><i class="fi fi-brands-instagram"></i></a>
              <a href="#"><i class="fi fi-brands-linkedin"></i></a>
            </div>
          </div>
          <div class="infoMiembro">
            <h4>David Pérez </h4>
            <span>Líder Técnico</span>
            <p>Experto en tecnología y gestión de proyectos. Lidera al equipo para alcanzar soluciones efectivas e
              innovadoras.</p>
          </div>
        </div><!-- Fin Miembro del Equipo -->

        <!-- Miembro del Equipo -->
        <div class="miembroEquipo">
          <div class="imagenMiembro">
            <img src="img/perfil_3.png" class="imagenFluida" alt="Luis Martínez">
            <div class="redesSocialesMiembro">
              <a href="#"><i class="fi fi-brands-twitter"></i></a>
              <a href="#"><i class="fi fi-brands-facebook"></i></a>
              <a href="#"><i class="fi fi-brands-instagram"></i></a>
              <a href="#"><i class="fi fi-brands-linkedin"></i></a>
            </div>
          </div>
          <div class="infoMiembro">
            <h4>José Pablo Brenes </h4>
            <span>Coordinador</span>
            <p>Facilita la comunicación y el flujo de trabajo. Se asegura de que cada proyecto avance sin contratiempos.
            </p>
          </div>
        </div><!-- Fin Miembro del Equipo -->

        <!-- Miembro del Equipo -->
        <div class="miembroEquipo">
          <div class="imagenMiembro">
            <img src="img/perfil_4.png" class="imagenFluida" alt="Ana Torres">
            <div class="redesSocialesMiembro">
              <a href="#"><i class="fi fi-brands-twitter"></i></a>
              <a href="#"><i class="fi fi-brands-facebook"></i></a>
              <a href="#"><i class="fi fi-brands-instagram"></i></a>
              <a href="#"><i class="fi fi-brands-linkedin"></i></a>
            </div>
          </div>
          <div class="infoMiembro">
            <h4>Aaron Salazar </h4>
            <span>Calidad</span>
            <p>Comprometido con la precisión y la mejora continua. Supervisa la calidad para garantizar el éxito de cada
              proyecto.</p>
          </div>
        </div><!-- Fin Miembro del Equipo -->

        <!-- Miembro del Equipo -->
        <div class="miembroEquipo">
          <div class="imagenMiembro">
            <img src="img/perfil_6.png" class="imagenFluida" alt="Javier Ruiz">
            <div class="redesSocialesMiembro">
              <a href="#"><i class="fi fi-brands-twitter"></i></a>
              <a href="#"><i class="fi fi-brands-facebook"></i></a>
              <a href="#"><i class="fi fi-brands-instagram"></i></a>
              <a href="#"><i class="fi fi-brands-linkedin"></i></a>
            </div>
          </div>
          <div class="infoMiembro">
            <h4>María Fernanda Aguilar Hernández</h4>
            <span>Soporte</span>
            <p>Siempre disponible para resolver problemas y brindar ayuda. Se enfoca en mejorar la experiencia de los
              usuarios.</p>
          </div>
        </div><!-- Fin Miembro del Equipo -->

        <!-- Miembro del Equipo -->
        <div class="miembroEquipo">
          <div class="imagenMiembro">
            <img src="img/perfil_5.png" class="imagenFluida" alt="Elena Gutiérrez">
            <div class="redesSocialesMiembro">
              <a href="#"><i class="fi fi-brands-twitter"></i></a>
              <a href="#"><i class="fi fi-brands-facebook"></i></a>
              <a href="#"><i class="fi fi-brands-instagram"></i></a>
              <a href="#"><i class="fi fi-brands-linkedin"></i></a>
            </div>
          </div>
          <div class="infoMiembro">
            <h4>Kevin Andres Fallas</h4>
            <span>Soporte</span>
            <p>Ofrece soluciones rápidas y efectivas. Su objetivo es brindar asistencia de alta calidad en todo momento.
            </p>
          </div>
        </div><!-- Fin Miembro del Equipo -->

      </div>

    </div>

  </section>

  <!-------------------------------------------Fin Sección Equipo---------------------------------------------->


  <!-- Footer -->
  <%- include('partials/footer') %>
  <!-- Fin Footer -->

</body>

</html>