<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibetickets - Carrito de Eventos</title>
    <link rel="stylesheet" href="css/carrito_compra.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel='stylesheet'
      href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
  </head>
  
  <body>
  
    <!-------------------------------------------Menú---------------------------------------------->
  
    <!-- Enlaces de autenticación y carrito -->
    <div class="enlacesAuth" id="enlaces__auth">
      <a href="/auth/registro">Registro</a>
      <a href="/auth/login">Login</a>
      <a href="/carrito"><i class="fi fi-ss-shopping-cart"></i></a>
    </div>
  
    <!-- Encabezado principal -->
    <header id="encabezado__principal">
      <div class="barraSuperior" id="barra__superior">
        <!-- Logo principal -->
        <div class="logotipo" id="logotipo__principal">
          <a href="/"><img src="img/VibeTickets-Logo-naranja.png" alt="logo principal VibeTickets"></a>
        </div>
        <!-- Navegación principal -->
        <nav class="navegacionPrincipal" id="navegacion__principal">
          <ul class="menuPrincipal">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li class="menuEventos">
              <a href="/eventos">Eventos</a>
              <!-- Submenú de eventos -->
              <ul class="submenu">
                <li><a href="/categorias">Categorías</a></li>
                <li><a href="/eventos">Eventos</a></li>
                <li><a href="/eventos/detalle">Evento</a></li>
                <li><a href="/eventos/detalle2">Evento2</a></li>
                <li><a href="/eventos/crear">CrearEventos</a></li>
              </ul>
            </li>
            <li><a href="/ayuda">Ayuda</a></li>
          </ul>
        </nav>
      </div>
    </header>
  
  
    <!-------------------------------------------FIN Menú---------------------------------------------->
  
  
    <section class="heroeImangen" id="heroe__imangen">
      <section>
          <div class="heroe" id="heroe__principal">
              <div class="titulo" id="administrarusuarios">
              <h1>Eventos en el Carrito</h1>
              </div>
          </div>
      </section>
    </section>


        <main class="contenedorCarrito">
            <div class="evento">
                <div class="infoEvento">
                    <h2>Campeonato de Tennis</h2>
                    <p><strong>Lugar:</strong> San José, Costa Rica</p>
                    <p><strong>Fecha:</strong> 30 sept, 2024</p>
                    <p><strong>Hora:</strong> 10:00 a.m.</p>
                    <p><strong>Precio:</strong> 33,000</p>
                </div>
                <div class="imagenEvento">
                    <img src="img/eventoCategoria3.png" alt="Evento de Tennis">
                </div>
            </div>

            <div class="evento">
                <div class="infoEvento">
                    <h2>Campeonato de Tennis</h2>
                    <p><strong>Lugar:</strong> San José, Costa Rica</p>
                    <p><strong>Fecha:</strong> 30 abril, 2024</p>
                    <p><strong>Hora:</strong> 20:00 p.m.</p>
                    <p><strong>Precio:</strong> 33,000</p>
                </div>
                <div class="imagenEvento">
                    <img src="img/eventoCategoria2.png" alt="Evento de Tennis">
                </div>
            </div>

            <div class="resumenCompra">
                <p><strong>IVA:</strong> 2,500</p>
                <p><strong>Total:</strong> 68,500</p>
                <button class="botonPagar">Proceder al Pago</button>
            </div>
        </main>

  <!-------------------------------------------Footer---------------------------------------------->

  <footer class="piePagina" id="pie__pagina">
    <div class="menuInferior" id="menu__inferior">
      <p>Menú</p>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/eventos">Eventos</a></li>
        <li><a href="/ayuda">Ayuda</a></li>
      </ul>
    </div>
    <div class="categoriasInferiores" id="categorias__inferiores">
      <p>Categorías</p>
      <ul>
        <li><a href="#">Conciertos</a></li>
        <li><a href="#">Comedia</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Festivales</a></li>
        <li><a href="#">Charlas</a></li>
        <li><a href="#">Teatro</a></li>

      </ul>
    </div>
    <div class="logoRedes" id="logo__redes">
      <div class="logoFooter">
        <img src="img/VibeTickets-Logo-verde.png" alt="VibeTickets">
      </div>
      <div class="iconosSociales" id="iconos__sociales">
        <a href="#"><img src="img/icono_facebook.png" alt="Facebook"></a>
        <a href="#"><img src="img/icono_instagram.png" alt="Instagram"></a>
        <a href="#"><img src="img/icono_whatsapp.png" alt="WhatsApp"></a>
        <a href="#"><img src="img/icono_tiktok.png" alt="TikTok"></a>
      </div>
      <p>© Brightcodelabs 2024</p>
    </div>
  </footer>

  <!-------------------------------------------Fin Footer---------------------------------------------->
</body>

</html>