@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat-Hairline";
  src: url("../fonts/Montserrat-Hairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora-Regular";
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.heroe {
  background: url('../img/banner-heroe1.png') no-repeat center center;
  background-size: cover;
  height: 300px;
  position: relative;
}

.titulo {
  color: #ffffff;
  font-size: 2em;
  text-align: left;
  padding-top: 100px;
  text-transform: uppercase;
  margin-left: 10%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.titulo h1:before {
  display: block;
  width: 5px;
  height: 35px;
  content: "";
  position: absolute;
  left: 8%;
  top: 110px;
  background: hsl(0, 0%, 100%);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

/* Contenedor del formulario */
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 15px;
  padding: 25px;
  text-align: center;
  align-items: center;
}

/* Estilo para las etiquetas */
.formulario_label {
  display: block;
  padding: 10px 0px;
  margin-bottom: 12px;
  /* Espacio entre la etiqueta y el input */
  text-align: center;
}

/* Estilo general de los inputs y selects */
.formulario_input {
  width: 100%;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 1em;
  outline: none;
  padding: 8px;
  height: 45px;
  /* Altura uniforme */
  box-sizing: border-box;
  text-align: center;
}

/* Estilo específico para los selects */
.formulario_grupo_input select.formulario_input {
  -webkit-appearance: none;
  appearance: none;
  padding: 0 8px;
}

/* Botón de buscar alineado y con altura igual a los campos */
.formulario_boton {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #db4437;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.formulario_boton:hover {
  background-color: #86a641;
}

.boxdeafuera {
  background-color: rgb(0, 0, 0);
  padding: 25px 25px;
  height: fit-content;
  width: 100%;
}

.evento1,
.evento2 {
  display: list-item;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

.fotoevento {
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 7px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.fotoevento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fotoevento2 {
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 7px;
}

.tituloevento {
  color: #d94423;
  padding: 25px 25px;
  border-bottom: #d94423 3px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0px 25px;
  margin-bottom: 225px;
  grid-column: span 3;
  display: inline-block;
}

.textoevento,
.textoevento2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.comprar {
  color: #86a641;
  text-align: center;
}

.precio {
  color: rgb(0, 0, 0);
  text-align: center;
}

.boton_comprar{
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #db4437;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-decoration: none;
  text-align: center;
}

.boton_comprar:hover {
  background-color: #86a641;
}

.cuadrodeprecio {
  display: grid;
  justify-content: center;
  align-items: center;
}

.lugar,
.fecha,
.hora {
  color: #000000;
  margin-top: -165px;
  text-align: center;
}

.hora h2,
.lugar h2,
.fecha h2 {
  color: rgb(194, 192, 192);
}