<!-- Enlaces de autenticación y carrito -->

    <div class="enlacesAuth" id="enlaces__auth">
        <a href="/perfil/datos-personales">Ver cuenta</a>
        <a href="/pago/carrito"><i class="fi fi-ss-shopping-cart"></i></a>
    </div>
    <div class="enlacesAuth" id="enlaces__auth">
        <a href="/auth/registro">Registro</a>
        <a href="/auth/login">Login</a>
        <a href="/pago/carrito"><i class="fi fi-ss-shopping-cart"></i></a>
    </div>

