<!-- Footer -->
<link rel='stylesheet'
href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
</head>

<footer class="piePagina" id="pie__pagina">
    <div class="menuInferior" id="menu__inferior">
      <p>Menú</p>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/eventos">Eventos</a></li>
        <li><a href="/ayuda">Ayuda</a></li>
      </ul>
    </div>
    <div class="categoriasInferiores" id="categorias__inferiores">
      <p>Categorías</p>
      <ul>
        <li><a href="#">Conciertos</a></li>
        <li><a href="#">Comedia</a></li>
        <li><a href="#">Deportes</a></li>
        <li><a href="#">Festivales</a></li>
        <li><a href="#">Charlas</a></li>
        <li><a href="#">Teatro</a></li>

      </ul>
    </div>
    <div class="logoRedes" id="logo__redes">
      <div class="logoFooter">
        <img src="/img/VibeTickets-Logo-verde.png" alt="VibeTickets">
      </div>
      <div class="iconosSociales" id="iconos__sociales">
        <a href="#"><i class="fi fi-brands-twitter"></i></a>
        <a href="#"><i class="fi fi-brands-facebook"></i></a>
        <a href="#"><i class="fi fi-brands-instagram"></i></a>
        <a href="#"><i class="fi fi-brands-tik-tok"></i></a>
      </div>
      <p>© Brightcodelabs 2024</p>
    </div>
  </footer>

<!-- Fin Footer -->