<!-- Menú -->

<!-- Encabezado principal -->
<header id="encabezado__principal">
    <div class="barraSuperior" id="barra__superior">
        <!-- Logo principal -->
        <div class="logotipo" id="logotipo__principal">
            <a href="/"><img src="/img/VibeTickets-Logo-verde.png" alt="logo principal VibeTickets"></a>
        </div>

        <!-- Navegación principal -->
        <nav class="navegacionPrincipal" id="navegacion__principal">
            <ul class="menuPrincipal">
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li class="menuEventos">
                    <a href="/eventos">Eventos</a>
                    <!-- Submenú de eventos -->
                    <ul class="submenu">
                        <li><a href="/eventos">Todos los eventos</a></li>
                        <li><a href="/eventos?categoria=Conciertos">Conciertos</a></li>
                        <li><a href="/eventos?categoria=Comedia">Comedia</a></li>
                        <li><a href="/eventos?categoria=Deportes">Deportes</a></li>
                        <li><a href="/eventos?categoria=Festivales">Festivales</a></li>
                        <li><a href="/eventos?categoria=Charlas">Charlas</a></li>
                        <li><a href="/eventos?categoria=Teatro">Teatro</a></li>                   
                    </ul>
                </li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Fin Menú -->