<aside class="barraLateral" id="Barra__Lateral">
    <ul class="menuPerfil">
        <li><a href="/user/perfilDatosPers" class="activo">Datos Personales</a></li>
        <li><a href="/user/perfilSeguridad">Seguridad</a></li>
        <li><a href="/user/perfilMetodosPago">Métodos de Pago</a></li>
        <li><a href="/user/perfilMisTickets">Mis Tickets</a></li>
        <li><a href="/user/perfilEventosGuardados">Eventos Guardados</a></li>
        <li><a href="../ayuda">Ayuda</a></li>
    </ul>
</aside>