<!-- Menú -->

<!-- Encabezado principal -->
<header id="encabezado__principal">
    <div class="barraSuperior" id="barra__superior">
        <!-- Logo principal -->
        <div class="logotipo" id="logotipo__principal">
            <a href="/"><img src="/img/VibeTickets-Logo-verde.png" alt="logo principal VibeTickets"></a>
        </div>

        <!-- Navegación principal -->
        <nav class="navegacionPrincipal" id="navegacion__principal">
            <ul class="menuPrincipal">
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li class="menuEventos">
                    <a href="/eventos">Eventos</a>
                    <!-- Submenú de eventos -->
                    <ul class="submenu">
                        <li><a href="/eventos/categorias">Categorías</a></li>
                        <li><a href="/eventos">Eventos</a></li>
                        <li><a href="/eventos/evento">Evento</a></li>
                        <li><a href="/eventos/evento2">Evento2</a></li>
                        <li><a href="/eventos/crear">CrearEventos</a></li>
                    </ul>
                </li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Fin Menú -->