<aside class="barraLateral" id="Barra__Lateral">
    <ul class="menuPerfil">
        <li><a href="perfilDatosPers.html" class="activo">Datos Personales</a></li>
        <li><a href="perfilSeguridad.html">Seguridad</a></li>
        <li><a href="perfilMetodosPago.html">Métodos de Pago</a></li>
        <li><a href="perfilMisTickets.html">Mis Tickets</a></li>
        <li><a href="perfilEventosGuardados.html">Eventos Guardados</a></li>
        <li><a href="../ayuda.html">Ayuda</a></li>
    </ul>
</aside>