<aside class="barraLateral" id="Barra__Lateral">
    <ul class="menuPerfil">
      <li><a href="/admin/datos-personales">Datos Personales</a></li>
      <li><a href="/admin/seguridad">Seguridad</a></li>
      <li><a href="/admin/metodos-pago">Métodos de Pago</a></li>
      <li><a href="/admin/usuarios">Administrar Usuarios</a></li>
      <li><a href="/admin/editar-evento">Editor de Eventos</a></li>
      <li><a href="/admin/crear-evento" class="activo">Crear</a></li>
      <li><a href="../ayuda">Ayuda</a></li>
    </ul>
  </aside>