<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeTickets - Admin</title>

    <link rel="stylesheet" type="text/css" href="css/perfiladm.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/menuLateral.css">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>

</head>

<body>

    <!-------------------------------------------Menú---------------------------------------------->

    <%- include('../partials/auth') %>
    <%- include('../partials/menu') %>

    <!-------------------------------------------FIN Menú---------------------------------------------->

    <!-------------------------------------------Eventos Hoy---------------------------------------------->

    <section class="heroeImangen" id="heroe__imangen">
        <section>
            <div class="heroe" id="heroe__principal">
                <div class="titulo" id="administrarusuarios">
                    <h1>Eventos hoy</h1>
                </div>
            </div>
        </section>
    </section>
    </section>

    <div class="contenedorPrincipal">

        <!-------------------------------------------Sección Barra Lateral---------------------------------------------->
        <aside class="barraLateral" id="Barra__Lateral">
            <ul class="menuPerfil">
                <li><a href="adminDatosPers.html">Datos Personales</a></li>
                <li><a href="adminSeguridad.html">Seguridad</a></li>
                <li><a href="adminMetodosPago.html">Métodos de Pago</a></li>
                <li><a href="administrarUsuarios.html" class="activo">Administrar Usuarios</a></li>
                <li><a href="editarEventos.html">Editor de Eventos</a></li>
                <li><a href="crearEvento.html">Crear</a></li>
                <li><a href="ayuda.html">Ayuda</a></li>
            </ul>
        </aside>
        <!-------------------------------------------Fin Sección Barra Lateral---------------------------------------------->

        <div class="contenedorDatos">
            <div class="filtrosBusqueda">
                <form>
                    <div class="campoBusqueda">
                        <label for="usuario">Filtrar por usuario o correo</label>
                        <input type="text" id="Usuario__Campo" name="usuario" placeholder="Busqueda">
                    </div>
                    <div class="campoFecha">
                        <label for="fecha">Fecha de ingreso:</label>
                        <input type="date" id="Fecha__Campo" name="fecha">
                    </div>
                    <div class="campoRol">
                        <label for="rol">Rol:</label>
                        <select id="Rol__Selector" name="rol">
                            <option value="">Seleccionar rol</option>
                            <option value="admin">Administrador</option>
                            <option value="user">Usuario</option>
                        </select>
                    </div>
                    <div class="contenedorBoton">
                        <button class="botonBuscar" type="submit">BUSCAR</button>
                    </div>
                </form>
            </div>

            <div class="tablaUsuarios">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Correo</th>
                            <th>Fecha de Ingreso</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>

                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>

                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>
                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>

                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>

                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>

                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>

                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>

                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>

                        <tr>
                            <td>117505050</td>
                            <td>juan.perez@gmail.com</td>
                            <td>14/20/24</td>
                            <td>Usuario</td>
                            <td><i class='bx bxs-edit'></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-------------------------------------------Footer---------------------------------------------->

    <%- include('../partials/footer') %>

    <!-------------------------------------------Fin Footer---------------------------------------------->

</body>

</html>