<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Eventos</title>

  <!-- ESTILOS -->
  <link rel="stylesheet" type="text/css" href="/css/crearEvento.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link rel="stylesheet" type="text/css" href="/css/menuLateral.css">
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>

<body>

  <!-- Menú y Autenticación -->

  <%- include('../partials/auth') %> <!-- Incluye el Auth -->
  <%- include('../partials/menu') %> <!-- Incluye el menú -->

  <!-- Fin Menú y Autenticación -->

  <!-- Sección de imagen de héroe para el encabezado del formulario -->
  <section class="heroeImagen" id="Heroe__Imagen">
    <section>
      <div class="heroe" id="Heroe__Principal">
        <div class="titulo" id="AdministrarUsuarios">
          <h1>Crear Eventos</h1>
        </div>
      </div>
    </section>
  </section>

  <div class="contenedorPrincipal">

    <!-------------------------------------------Sección Barra Lateral---------------------------------------------->
  <%- include('../partials/menu_admin') %> <!-- Incluye el menú admin-->
    <!-------------------------------------------Fin Sección Barra Lateral---------------------------------------------->

    <!-- Formulario para crear un nuevo evento -->
    <form class="editarEvento" id="EditarEventoForm">

      <!-- Imagen de muestra para la foto del evento -->
      <div class="subirFoto" id="SubirFoto">
        <img src="/img/eventoCategoria6.png" alt="">
      </div>

      <!-- Campo para ingresar el nombre del evento -->
      <div class="editarEventoInput">
        <label class="name" for="name">Ingrese el nombre del Evento</label>
        <input class="nombreEvento" type="text" id="name" name="name" placeholder="Nombre evento">
      </div>

      <!-- Fila para seleccionar el lugar y la categoría del evento -->
      <div class="editarEventoFila">
        <div class="editarEventoInput">
          <label for="lugar">Seleccione el Lugar</label>
          <select name="lugar" id="lugar">
            <option value="lugar1">San Jose</option>
            <option value="lugar2">Heredia</option>
            <option value="lugar3">Alajuela</option>
            <option value="lugar4">Cartago</option>
            <option value="lugar5">Limon</option>
            <option value="lugar6">Puntarenas</option>
            <option value="lugar7">Guanacaste</option>
          </select>
        </div>
        <div class="editarEventoInput">
          <label for="categories">Seleccione la Categoria</label>
          <select name="categories" id="categories">
            <option value="category-1">Deportes</option>
            <option value="category-2">Concierto</option>
            <option value="category-3">Festivales</option>
            <option value="category-4">Teatro</option>
            <option value="category-5">Espectáculos familiares</option>
          </select>
        </div>
      </div>

      <!-- Campo para ingresar una palabra clave -->
      <div class="editarEventoFila">
        <div class="editarEventoInput">
          <label for="key-word">Palabra clave</label>
          <input type="text" id="key-word" name="key-word" placeholder="Palabra Clave">
        </div>
      </div>

      <!-- Opciones para cargar una imagen de portada y foto del evento -->
      <div class="editarEventoFila">
        <div class="editarEventoInput">
          <label for="test">Cambiar Portada</label>
          <input type="text" id="test" name="test" placeholder="imagen.png">
        </div>
        <div class="editarEventoInput">
          <label class="imagenEvento" for="imagenEvento">Foto de Evento</label>
          <input type="file" id="imagenEvento" name="imagenEvento" accept="image/png, image/jpeg" />
        </div>
      </div>

      <!-- Campo para ingresar el precio del evento -->
      <div class="precio">
        <label for="price">Precio</label>
        <input type="text" id="price" name="price" placeholder="Precio">
      </div>


      <!-- Botones para enviar o borrar el formulario -->
      <div class="editarEventoBotones">
        <button class="editarEventoBoton" type="submit">ENVIAR</button>
        <button class="editarEventoBoton" type="reset">BORRAR</button>
      </div>
    </form>
  </div>

  <!-- Footer -->
  <%- include('../partials/footer') %>
  <!-- Fin Footer -->

</body>

</html>