<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeTickets</title>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/bannerPerfil.css">
    <link rel="stylesheet" href="../css/menuLateral.css">
    <link rel="stylesheet" href="../css/perfilEventosGuardados.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>

</head>

<body>

    <!-- Menú y Autenticación -->

<%- include('../partials/auth') %> <!-- Incluye el Auth -->
<%- include('../partials/menu') %> <!-- Incluye el menú -->

<!-- Fin Menú y Autenticación -->

      <!-------------------------------------------Banner---------------------------------------------->

<section class="heroeImangen" id="heroe__imangen">
  <section>
      <div class="heroe" id="heroe__principal">
          <div class="titulo" id="administrarusuarios">
          <h1>Perfil</h1>
          </div>
      </div>
  </section>
</section>

<!-------------------------------------------FIN Banner---------------------------------------------->

<div class="contenedorPrincipal" id="Contenedor__Principal"> <!--Contenedor Principal-->

<!-------------------------------------------Barra Lateral Usuario---------------------------------------------->

<%- include('../partials/menu_usuario') %> <!-- Incluye menu de usuario-->

<!-------------------------------------------FIN Barra Lateral Usuario---------------------------------------------->   
    
<!-------------------------------------------Eventos Guardados---------------------------------------------->

<div class="cajaExterna" id="Caja__Externa">
    <div class="tarjetaEvento" id="Tarjeta__Evento1">
        <div class="eventoVenta" id="Evento__Venta1">
            <div class="textoEvento">
                <div class="tituloEvento"><h2>Campeonato de fútbol</h2></div>
                <div class="cuadroPrecio">
                    <h2 class="textoComprar">Precio</h2>
                    <h2 class="textoComprar">desde</h2>
                    <h1 class="montoPrecio">₡15.000</h1>
                    <a href="#" class="botonComprar">Comprar</a>
                </div>
            </div>
        </div>
        <div class="infoEvento" id="Info__Evento1">
            <div class="lugarEvento">
                <h1>Lugar</h1>
                <h2>San José</h2>
            </div>
            <div class="fechaEvento">
                <h1>Fecha</h1>
                <h2>15 de Septiembre, 2024.</h2>
            </div>
            <div class="horaEvento">
                <h1>Hora</h1>
                <h2>11:30am.</h2>
            </div>
        </div>
        <div class="imagenEvento"><img src="../img/eventoCategoria3.png" alt="Evento de futbol"></div>
    </div>
    <div class="tarjetaEvento" id="Tarjeta__Evento2">
        <div class="eventoVenta" id="Evento__Venta2">
            <div class="textoEvento">
                <div class="tituloEvento"><h2>Concierto de rock</h2></div>
                <div class="cuadroPrecio">
                    <h2 class="textoComprar">Precio</h2>
                    <h2 class="textoComprar">desde</h2>
                    <h1 class="montoPrecio">₡20.000</h1>
                    <a href="#" class="botonComprar">Comprar</a>
                </div>
            </div>
        </div>
        <div class="infoEvento" id="Info__Evento2">
            <div class="lugarEvento">
                <h1>Lugar</h1>
                <h2>San José</h2>
            </div>
            <div class="fechaEvento">
                <h1>Fecha</h1>
                <h2>15 de Septiembre, 2024.</h2>
            </div>
            <div class="horaEvento">
                <h1>Hora</h1>
                <h2>11:30am.</h2>
            </div>
        </div>
        <div class="imagenEvento"><img src="../img/eventoCategoria1.png" alt="Evento de rock"></div>
    </div>
</div>

<!-------------------------------------------FIN Eventos Guardados---------------------------------------------->

</div> <!--FIN Contenedor Principal-->

    <!-- Footer -->
    
    <%- include('../partials/footer') %> <!-- Incluye el footer -->
    
    <!-- Fin Footer -->

</body>

</html>